name: deploy

on: push

jobs:
  first_job:
    runs-on: ubuntu-latest

    # services: # Contenedor de docker con imagenes de los servicios que necesita el proyecto (ej: bases de datos, cache, etc.)
    #   redis:
    #     image: redis
    #     ports:
    #       - 6379:6379
    
    steps:
      # - name: Install redis cli
      #   run: sudo apt-get update -y && sudo apt-get install redis-tools -y  # -y se pasa como argumento a la espera de si requiere confirmaci贸n de la instalaci贸n

      # - name: Test redis
      #   run: redis-cli -h localhost -p 6379 ping

      - name: Print secret variable
        run: echo "${{ secrets.TOKEN_SECRET}}" # Aunque el comando se ejecuta, GitHub censura el secreto
      
      - name: checkout
        uses: actions/checkout@v4

      - name: setup                            # Configuraci贸n del entorno como herramientas, lenguajes (node, python, etc.)
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      
      - name: Install dependencies            # Instalaci贸n de dependencias del proyecto
        run: npm install